.main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 969px;
    width: 100%;
    padding: 2.5rem;
    background-color: rgb(3, 55, 101);
    border-radius: 5px;
}
.first-glass {
    /* From https://css.glass */
/* From https://css.glass */
background: rgba(36, 69, 112, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.8px);
-webkit-backdrop-filter: blur(1.8px);
border: 1px solid rgba(79, 131, 201, 0.51);
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
   
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}